.dashboard {
    padding: 16px;

    .gauge {
        text-align: center;

        &__value {
            font-size: 22px;
            font-weight: 600;
            color: #303133;
        }

        &__unit {
            font-size: 12px;
            font-weight: 400;
            color: #909399;
        }
    }
}